{
  "presets": [
    ["env", {
      "targets": {
        "ie9": true,
        "chrome": 42
      },
      "forceAllTransforms": true,
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime",
    "external-helpers"
   ],
   "comments": false,

   "env": {
      "test": {
        "presets": [
          ["env", {
            "targets": {
              "ie9": true,
              "chrome": 42
            },
            "forceAllTransforms": false
          }]
        ],
        "plugins": [
          "transform-runtime",
          "istanbul"
         ],
         "comments": false
     }
  }
}
