{
  "presets": [
    ["env", {
      "targets": {
        "ie9": true,
        "chrome": 42
      },
      "forceAllTransforms": true,
      "modules": false
    }]
  ],
  "plugins": [
    "add-module-exports",
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "external-helpers"
   ],
   "comments": false,
   "env": {
      "test": {
        "presets": [
          ["env", {
            "targets": {
              "ie9": true,
              "chrome": 42
            },
            "forceAllTransforms": false
          }]
        ],
        "plugins": [
          "add-module-exports",
          "syntax-dynamic-import",
          "transform-class-properties",
          "transform-object-rest-spread",
          "transform-runtime",
          "istanbul"
         ],
         "comments": false
     }
  }
}
